<table>
    <tr>
        <th></th>
        <th>label</th>
        <th>duration</th>
        <th>started time</th>
        <th>active</th>
    </tr>
</table>
<br>
<br>

<button type="button" onclick="getNextGames()">next</button>
<button type="button" onclick="getPreviousGames()">previous</button>
<br>
<br>
<br>
<br>
<button type="button" onclick="deleteGame()">DELETE</button>

<br>
<br>
<p id="operationsStatus"></p>
<br>
<br>
<br>
<br>
<div class="formDiv" id="insertForm">
    <form onsubmit="insertGame(event)">
        <label for="label">Label: </label>
        <input type="text" name="label" id="label" value="">
        <br>
        <br>

        <label for="duration">Duration: </label>
        <input type="text" name="duration" id="duration" value="">
        <br>
        <br>

        <input type="submit" value="INSERT GAME">
    </form>
</div>
<div class="formDiv" id="updateForm">
    <form onsubmit="updateGame(event)">
        <label for="label">Label: </label>
        <input type="text" name="label" id="label" value="" disabled>
        <br>
        <br>

        <label for="duration">Duration: </label>
        <input type="text" name="duration" id="duration" value="" disabled>
        <br>
        <br>

        <input type="submit" value="UPDATE GAME" disabled>
    </form>
</div>
