<!doctype html>

<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ cssSrc }}">
        <script type="text/javascript" src="{{ scriptSrc }}"></script>
    </head>





    <body>
        {{{ body }}}
    </body>
</html>
