<div>
    <ul>
        <li>
            <a href="http://localhost:3000/admin/dashboard/user">Users managment</a>
        </li>
        <li>
            <a href="http://localhost:3000/admin/dashboard/question">Questions managment</a>
        </li>
        <li>
            <a href="">Games managment</a>
        </li>
        <li>
            <a href="http://localhost:3000/admin/dashboard/store">Store Items managment</a>
        </li>
    </ul>
</div>

<div>
    <p>
    <a href="http://localhost:3000/admin/logout">log out</a>
    </p>
</div>
